.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
}

.title {
  font-size: 3rem;
  font-weight: 500;
}

.rsoList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
