.title,
.description {
  text-align: center;
  margin: 4rem 0;
}

.title {
  font-size: 5rem;
}

.description {
  font-size: 3rem;
  font-weight: 500;
}

.searchBarWrapper,
.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  position: relative;
}

.searchInput {
  width: 60rem;
  height: 6rem;
  border-radius: 999px;
  border: none;
  box-shadow: #00000059 0 0 10px;
  margin: 5rem 1rem;
  padding: 0 6rem;
  font-size: 2rem;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  position: absolute;
  left: 2rem;
  font-size: 4rem;
}

.searchBtn {
  position: absolute;
  right: 2rem;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  border-radius: 999px;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
}

.searchBtn:hover {
  opacity: 0.8;
}

.uiucOrange {
  color: var(--uiuc-orange);
}
